NodeRed JSON
[
    {
        "id": "06d68578bb544e93",
        "type": "tab",
        "label": "main grip",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e50caa73a6bbb57a",
        "type": "group",
        "z": "06d68578bb544e93",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c78a2cce44b082ef",
            "4173f140e001c24f",
            "8a9c2dbb739d3368",
            "7e97b404c254d868",
            "17a09d723f80ec16"
        ],
        "x": 164,
        "y": 179,
        "w": 672,
        "h": 162
    },
    {
        "id": "8ae2f115c6b4c1d2",
        "type": "debug",
        "z": "06d68578bb544e93",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 800,
        "wires": []
    },
    {
        "id": "19a08e694f4ed1d3",
        "type": "debug",
        "z": "06d68578bb544e93",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "0775ac393f1444de",
        "type": "function",
        "z": "06d68578bb544e93",
        "name": "Linear Regression",
        "func": "const finger = flow.get('selectedfinger') || 'POINTER'\nconst points = msg.payload || [];\nnode.warn(\"Regression recieved\" + JSON.stringify(msg.payload));\n\n\n//bail case for lack of data\nif (points.length < 2) {\n    node.warn(\"Not enough data for tracking\");\n    msg.payload = 'Not Enough data points';\n    return msg;\n}\nnode.warn(\"point length:\" + points.length);\nconst n = points.length;\n//sums for regression\nlet sumx = 0, sumy = 0, sumxy = 0, sumxx = 0;\nfor (let p of points) {\n    const x = p.x;\n    const y = p.y;\n    sumx += x;\n    sumy += y;\n    sumxy += x * y;\n    sumxx += x * x;\n\n}\n//denominator \nconst den = (n * sumxx - sumx * sumx);\nif (den === 0) {\n    msg.payload = \"failed regression\";\n    return msg;\n\n} //slope\nconst m = (n * sumxy - sumx * sumy) / den;\n//Intercept\nconst b = (sumy - m * sumx) / n;\n//R^2\nlet totSS = 0, resSS = 0;\nconst Ymean = sumy / n;\n\nfor (let p of points) {\n    const y = p.y;\n    const ydict = m * p.x + b;\n    totSS += (y - Ymean) * (y - Ymean);\n    resSS += (y - ydict) * (y - ydict);\n\n}\nlet r2 = 0;\nr2 = 1 - (resSS / totSS);\n\nlet verdict = \"No clear trend\";\n\nconst slopethresh = 0.05;\nconst r2thres = 0.4;\n\nif (Math.abs(m) < slopethresh || r2 < r2thres) {\n    verdict = \"No clear trend\";\n\n}\nelse if (m > 0) {\n    verdict = \" Good Progress\"\n\n}\nelse {\n    verdict = \"Decreasing Progress\";\n\n}\n\nconst sort = [...points].sort((a, b) => a.x - b.x);\n\nconst xmin = sort[0].x;\nconst xmax= sort[sort.length-1].x;\n\nconst sTime = flow.get('Tstart_global'+finger);\nconst linepoints = [{x: xmin, y: m*xmin + b}, {x:xmax, y:m*xmax+b}];\n\n\nconst msginfo = {\n    payload: {\n        slope: m.toFixed(4),\n        intercept: b.toFixed(4),\n        r2: r2.toFixed(4),\n        count: n,\n        verdict: verdict\n    }\n};\n\nconst msgline1 ={\n    topic: \"Trend\", \n    payload: sort.map(p =>  \n    {return{\n        x:p.x, \n        y: m*p.x + b}; \n        })      \n\n    };\n\n\nreturn [msginfo, msgline1];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 540,
        "wires": [
            [
                "904e474b1ec5ef90"
            ],
            [
                "f6c4b6b37a08528a",
                "8ae2f115c6b4c1d2",
                "ccddc1b4f2d8bf37"
            ]
        ]
    },
    {
        "id": "3db6ae7bebb87a2a",
        "type": "function",
        "z": "06d68578bb544e93",
        "name": "Stop button Function",
        "func": "const finger = flow.get('selectedfinger') || 'Index';\n\nmsg.topic =finger\nflow.set('recording_'+finger, false);\nconst samples = flow.get('samples_'+finger);\n\n\nlet out1 = null;\nlet out2 = {topic: finger, payload: samples};\n\n\n\nreturn [out1, out2];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 520,
        "wires": [
            [
                "693dc95d549f8238",
                "495775f273f445f0"
            ],
            [
                "0775ac393f1444de",
                "19a08e694f4ed1d3"
            ]
        ]
    },
    {
        "id": "db256c82619b7295",
        "type": "ui-button",
        "z": "06d68578bb544e93",
        "group": "848d0abaf8b84005",
        "name": "Stop_Index",
        "label": "Stop Session",
        "order": 2,
        "width": "0",
        "height": "0",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "'#FF0000'",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "3db6ae7bebb87a2a",
                "0e36256fe6e93cd6"
            ]
        ]
    },
    {
        "id": "693dc95d549f8238",
        "type": "debug",
        "z": "06d68578bb544e93",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "904e474b1ec5ef90",
        "type": "ui-template",
        "z": "06d68578bb544e93",
        "d": true,
        "group": "",
        "page": "",
        "ui": "36166cdf54286014",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"position: fixed; top:64px; right:550px; padding:8px; background:rgba(0,0,0,.45); color:#0ff; border-radius:6px; width:200px;\">\n    <h2>Progress</h2>\n\n    <p> Slope:{{msg.payload.slope }} <p>\n    <p> Intercept:{{msg.payload.intercept }}<p>\n    <p> R^2:{{msg.payload.r2}}<p>\n    <p> Verdict:{{msg.payload.verdict }}<p>\n  </div>\n</template>\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 1160,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "274d32311ed68801",
        "type": "function",
        "z": "06d68578bb544e93",
        "name": "Data Storage and transfer ",
        "func": "const parts = msg.topic.split(\"/\");\nconst type = parts[0];        // \"joint\" or \"imu\"\nconst data = parts[1];\n\nlet finger, label;\n                   \n// determine source\nif (type === \"joint\") {\n    [finger, label] = data.split(\"_\");   // POINTER, MCP\n}\nelse if (type === \"abduction\") {\n    finger = data;\n    label = \"ABD\";   // name for IMU line\n}\nelse {\n    return null;\n}\n\n// filter by selected finger\nconst selected = flow.get('selectedfinger') || \"POINTER\";\nif (finger !== selected) return null;\n\n// convert value\nconst val = Number(msg.payload);\nif (isNaN(val)) return null;\n\n// time handling (linear seconds)\nlet timer = flow.get('Tstart_global');\nif (!timer) {\n    timer = Date.now();\n    flow.set('Tstart_global', timer);\n}\n\nconst t = (Date.now() - timer) / 1000;\n\n// send to chart\nmsg.topic = label;   // MCP, PIP, DIP, ABD\nmsg.payload = {\n    x: t,\n    y: val\n};\n\nreturn msg\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "495775f273f445f0",
                "50ee42cc107c619d"
            ]
        ]
    },
    {
        "id": "50ee42cc107c619d",
        "type": "debug",
        "z": "06d68578bb544e93",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 500,
        "wires": []
    },
    {
        "id": "f6c4b6b37a08528a",
        "type": "debug",
        "z": "06d68578bb544e93",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1930,
        "y": 560,
        "wires": []
    },
    {
        "id": "34342db97b83b806",
        "type": "function",
        "z": "06d68578bb544e93",
        "name": "Save Button Function",
        "func": "const finger = flow.get('selectedfinger') || 'Index';\n\nconst samples = flow.get('samples_'+finger) || [];\nconst sampleCopy = [...samples];\n\nif (sampleCopy.length === 0){\n    node.warn('No data to store');\n    return null;\n\n\n}\n\nconst headers = Object.keys(samples[0]).join(',');\nconst rows = samples.map(row => Object.values(row).join(','));\nconst csv = [headers, ...rows].join('\\n');\n\nconst Tstamp = new Date().toDateString().replace(/[:.]/g, '-');\nconst filename = `session_${Tstamp}.csv`;\n\nmsg.payload = csv;\nmsg.filename = `/home/vboxuser/Documents/${filename}`;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 700,
        "wires": [
            [
                "2ab373aaac3c785c"
            ]
        ]
    },
    {
        "id": "f63775508bbf23bb",
        "type": "ui-button",
        "z": "06d68578bb544e93",
        "group": "848d0abaf8b84005",
        "name": "SaveSession_Index",
        "label": "Save Session",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "34342db97b83b806"
            ]
        ]
    },
    {
        "id": "2ab373aaac3c785c",
        "type": "file",
        "z": "06d68578bb544e93",
        "name": "write file",
        "filename": "/home/vboxuser/Documents/csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 850,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ccddc1b4f2d8bf37",
        "type": "split",
        "z": "06d68578bb544e93",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1100,
        "y": 660,
        "wires": [
            [
                "30e5b0b09b3cf938",
                "495775f273f445f0"
            ]
        ]
    },
    {
        "id": "30e5b0b09b3cf938",
        "type": "debug",
        "z": "06d68578bb544e93",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 700,
        "wires": []
    },
    {
        "id": "6aadc8f791e00262",
        "type": "ui-control",
        "z": "06d68578bb544e93",
        "name": "",
        "ui": "36166cdf54286014",
        "events": "all",
        "x": 690,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "9d68ea6efc03cc12",
        "type": "debug",
        "z": "06d68578bb544e93",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 760,
        "wires": []
    },
    {
        "id": "6c80c490a757dfbf",
        "type": "debug",
        "z": "06d68578bb544e93",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 800,
        "wires": []
    },
    {
        "id": "ec23d5e4048324dd",
        "type": "function",
        "z": "06d68578bb544e93",
        "name": "function 1",
        "func": "const finger = msg.payload;\n\n// store for graph filtering\nflow.set('selectedfinger', finger);\n\n// ---------- UI CONTROL (groups) ----------\nconst groupMap = {\n   POINTER: \"IndexG\",\n   MIDDLE: \"MG\",\n   RING: \"RG\",\n   PINKY: \"PG\",\n   THUMB: \"TG\"\n};\n\nconst allGroups = [\"IndexG\", \"MG\", \"RG\", \"PG\", \"TG\"];\n\nconst showGroup = groupMap[finger];\nconst hideGroups = allGroups.filter(g => g !== showGroup);\n\nconst uiMsg = {\n payload: {\n    groups: {\n     show: [showGroup],\n     hide: hideGroups\n  }\n }\n};\n\n// ---------- MQTT COMMAND ----------\nconst COMMANDS = {\n    POINTER: 3,\n    MIDDLE: 10,\n    RING: 11,\n    PINKY: 12,\n    THUMB: 13\n};\n\nconst cmd = COMMANDS[finger];\n\nconst cmdMsg = {\n  topic: \"glove/command\",\n  payload: cmd\n};\n\n// ---------- RETURN BOTH ----------\nreturn [uiMsg, cmdMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 900,
        "wires": [
            [
                "6aadc8f791e00262",
                "9d68ea6efc03cc12"
            ],
            [
                "ab9349c6abe883cc"
            ]
        ]
    },
    {
        "id": "9427e3f025598670",
        "type": "ui-dropdown",
        "z": "06d68578bb544e93",
        "group": "4137e7ea168bee44",
        "name": "",
        "label": "Select Option:",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Index",
                "value": "POINTER",
                "type": "str"
            },
            {
                "label": "Middle",
                "value": "MIDDLE",
                "type": "str"
            },
            {
                "label": "Ring",
                "value": "RING",
                "type": "str"
            },
            {
                "label": "Pinky",
                "value": "PINKY",
                "type": "str"
            },
            {
                "label": "Thumb",
                "value": "THUMB",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 240,
        "y": 900,
        "wires": [
            [
                "ec23d5e4048324dd",
                "6c80c490a757dfbf"
            ]
        ]
    },
    {
        "id": "495775f273f445f0",
        "type": "link out",
        "z": "06d68578bb544e93",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "58bfe4a572b96454",
            "837339fb526579d0",
            "98b1ee5cd9e0673e",
            "e340faae93e5040e",
            "eb5e7442c91e1f0e"
        ],
        "x": 1795,
        "y": 340,
        "wires": []
    },
    {
        "id": "81628402dbedcd8b",
        "type": "mqtt in",
        "z": "06d68578bb544e93",
        "name": "",
        "topic": "joint/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4b36ad713a951d74",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "274d32311ed68801",
                "5a34086b427b69ed"
            ]
        ]
    },
    {
        "id": "5a34086b427b69ed",
        "type": "debug",
        "z": "06d68578bb544e93",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 20,
        "wires": []
    },
    {
        "id": "68c64352923c8f6c",
        "type": "mqtt out",
        "z": "06d68578bb544e93",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4b36ad713a951d74",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "0e36256fe6e93cd6",
        "type": "function",
        "z": "06d68578bb544e93",
        "name": "Stop button Function MQTT",
        "func": "msg.topic =\"system/command\";\nmsg.payload = 6;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "68c64352923c8f6c"
            ]
        ]
    },
    {
        "id": "79f6098cbbf94149",
        "type": "ui-button",
        "z": "06d68578bb544e93",
        "group": "848d0abaf8b84005",
        "name": "CALIBRATION",
        "label": "Calibration",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "10461500951695d7"
            ]
        ]
    },
    {
        "id": "10461500951695d7",
        "type": "function",
        "z": "06d68578bb544e93",
        "name": "Calibration code send -> ESP",
        "func": "flow.set('is calibrated', false);\n\nconst uimsg ={\n    payload: \"CALIBRATING....\"\n};\n\nconst sendmsg ={\n    topic: \"system/calibration_status\",\n    payload:7\n\n};\n\nreturn [uimsg, sendmsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1000,
        "wires": [
            [
                "c652d1d7a4bbbdc3"
            ],
            [
                "a547f82ba4f00be8"
            ]
        ]
    },
    {
        "id": "c652d1d7a4bbbdc3",
        "type": "mqtt out",
        "z": "06d68578bb544e93",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4b36ad713a951d74",
        "x": 800,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4543a0f4bc0f9ab1",
        "type": "mqtt in",
        "z": "06d68578bb544e93",
        "name": "",
        "topic": "system/calibration_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4b36ad713a951d74",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "02578128653037bc"
            ]
        ]
    },
    {
        "id": "02578128653037bc",
        "type": "function",
        "z": "06d68578bb544e93",
        "name": "Recieve Cal.  ESP-> pi",
        "func": " const status = Number(msg.payload);\n\n// default\nlet progress = 0;\nlet text = \"Unknown\";\n\nif (status === 7) {\n    progress = 10;\n    text = \"Starting calibration...\";\n}\n\nif (status === 8) {\n    progress = 50;\n    text = \"Calibrating...\";\n}\n\nif (status === 9) {\n    progress = 100;\n    text = \"Calibration Complete ✅\";\n    flow.set(\"isCalibrated\", true);\n}\n\n// send to gauge\nconst gaugeMsg = {\n    payload: progress\n};\n\n// send to text label\nconst textMsg = {\n    payload: text\n};\n\nreturn [gaugeMsg, textMsg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1160,
        "wires": [
            [
                "a547f82ba4f00be8"
            ],
            [
                "5f1ca35288ae56db"
            ]
        ]
    },
    {
        "id": "a547f82ba4f00be8",
        "type": "ui-text",
        "z": "06d68578bb544e93",
        "group": "4137e7ea168bee44",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Calibration:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payloads",
        "valueType": "msg",
        "x": 740,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5f1ca35288ae56db",
        "type": "ui-gauge",
        "z": "06d68578bb544e93",
        "name": "status",
        "group": "4137e7ea168bee44",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "2",
        "height": "2",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1",
                "color": "#4bd9ec",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 740,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "ab9349c6abe883cc",
        "type": "mqtt out",
        "z": "06d68578bb544e93",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4b36ad713a951d74",
        "x": 660,
        "y": 900,
        "wires": []
    },
    {
        "id": "0752909af2d134e1",
        "type": "mqtt in",
        "z": "06d68578bb544e93",
        "name": "",
        "topic": "abduction/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4b36ad713a951d74",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "274d32311ed68801"
            ]
        ]
    },
    {
        "id": "c78a2cce44b082ef",
        "type": "debug",
        "z": "06d68578bb544e93",
        "g": "e50caa73a6bbb57a",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "4173f140e001c24f",
        "type": "mqtt out",
        "z": "06d68578bb544e93",
        "g": "e50caa73a6bbb57a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4b36ad713a951d74",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a9c2dbb739d3368",
        "type": "function",
        "z": "06d68578bb544e93",
        "g": "e50caa73a6bbb57a",
        "name": "STart button func",
        "func": "const finger = flow.get('selectedfinger') || 'POINTER';\nnode.send({topic: msg.topic, payload: []});\nnode.send({topic:\"Trend\", payload: []});// clear graph\n\nflow.set('recording_'+ finger,  true); //Init\nflow.set('samples_'+finger,[]);\nflow.set('Tstart_global'+finger, Date.now());\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "495775f273f445f0",
                "c78a2cce44b082ef"
            ]
        ]
    },
    {
        "id": "7e97b404c254d868",
        "type": "ui-button",
        "z": "06d68578bb544e93",
        "g": "e50caa73a6bbb57a",
        "group": "81b02f13e24b12b9",
        "name": "Start_Index",
        "label": "Start session ",
        "order": 2,
        "width": "0",
        "height": "0",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "8a9c2dbb739d3368",
                "17a09d723f80ec16"
            ]
        ]
    },
    {
        "id": "17a09d723f80ec16",
        "type": "function",
        "z": "06d68578bb544e93",
        "g": "e50caa73a6bbb57a",
        "name": "STart button MQTT",
        "func": "const finger = flow.get('selectedfinger') || 'POINTER';\nnode.send({topic: msg.topic, payload: []});\nnode.send({topic:\"Trend\", payload: []});// clear graph\n\nflow.set('recording_'+ finger,  true); //Init\nflow.set('samples_'+finger,[]);\nflow.set('Tstart_global'+finger, Date.now());\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 280,
        "wires": [
            [
                "4173f140e001c24f"
            ]
        ]
    },
    {
        "id": "848d0abaf8b84005",
        "type": "ui-group",
        "name": "Grip Controls ",
        "page": "ef0138b24414ffa4",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "36166cdf54286014",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "4137e7ea168bee44",
        "type": "ui-group",
        "name": "dropdown group",
        "page": "ef0138b24414ffa4",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4b36ad713a951d74",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "81b02f13e24b12b9",
        "type": "ui-group",
        "name": "ROM Controls",
        "page": "38e753d080b99624",
        "width": "6",
        "height": 1,
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ef0138b24414ffa4",
        "type": "ui-page",
        "name": "Strength Tracking",
        "ui": "36166cdf54286014",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "8f91d3c43d41b585",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "38e753d080b99624",
        "type": "ui-page",
        "name": "Range of Motion Tracking",
        "ui": "36166cdf54286014",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "8f91d3c43d41b585",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8f91d3c43d41b585",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#3584e4",
            "primary": "#1a5fb4",
            "bgPage": "#3d3846",
            "groupBg": "#000000",
            "groupOutline": "#1a5fb4"
        },
        "sizes": {
            "density": "comfortable",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "8644d6428a9ce419",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]
