NodeRed JSON
[{"id":"bfa476dc45577712","type":"tab","label":"main sp02","disabled":false,"info":"","env":[]},{"id":"d1812f6977441004","type":"tab","label":"main flex","disabled":false,"info":"","env":[]},{"id":"06d68578bb544e93","type":"tab","label":"main grip","disabled":false,"info":"","env":[]},{"id":"d49ff76070188501","type":"tab","label":"Index ","disabled":false,"info":"","env":[]},{"id":"32909789549a8d0d","type":"tab","label":"Middle","disabled":false,"info":"","env":[]},{"id":"8fec8f860b1a2805","type":"tab","label":"Ring","disabled":false,"info":"","env":[]},{"id":"de285be21e702916","type":"tab","label":"Pinky","disabled":false,"info":"","env":[]},{"id":"ecc2abccbbee318b","type":"tab","label":"Thumb","disabled":false,"info":"","env":[]},{"id":"e603eb53dc095cee","type":"tab","label":"IndexGRIP","disabled":false,"info":"","env":[]},{"id":"f0c8b8214cded0e6","type":"tab","label":"MiddleGRIP","disabled":false,"info":"","env":[]},{"id":"56e6bd8c3694d57e","type":"tab","label":"RingGRIP","disabled":false,"info":"","env":[]},{"id":"cbff7827142387a0","type":"tab","label":"PinkyGRIP","disabled":false,"info":"","env":[]},{"id":"ab33023ede78790b","type":"tab","label":"ThumbGRIP","disabled":false,"info":"","env":[]},{"id":"83e63282a2892f63","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e0c4a407c0d28291","type":"group","z":"d1812f6977441004","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2088b580ddad0b05","749a61a2d5d54f03","1642a8455289f7c5","0be6d5ef60814b9d","30d88dc2f8017ac7","2044cb900bca59eb"],"x":14,"y":179,"w":672,"h":222},{"id":"e50caa73a6bbb57a","type":"group","z":"06d68578bb544e93","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c78a2cce44b082ef","4173f140e001c24f","8a9c2dbb739d3368","7e97b404c254d868","17a09d723f80ec16"],"x":164,"y":179,"w":672,"h":162},{"id":"1af705cf7da28429","type":"group","z":"bfa476dc45577712","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["418fa377673a9078","a6cef93199af6bd8","d7adacf5c87a8a68","98ef52dcde2db97f","11510cc9eb3b66b0"],"x":4,"y":179,"w":672,"h":162},{"id":"36166cdf54286014","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":false},{"id":"8f91d3c43d41b585","type":"ui-theme","name":"Default Theme","colors":{"surface":"#3584e4","primary":"#1a5fb4","bgPage":"#3d3846","groupBg":"#000000","groupOutline":"#1a5fb4"},"sizes":{"density":"comfortable","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"38e753d080b99624","type":"ui-page","name":"Range of Motion Tracking","ui":"36166cdf54286014","path":"/page1","icon":"home","layout":"grid","theme":"8f91d3c43d41b585","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":2,"className":"","visible":"true","disabled":"false"},{"id":"0f486282bf7e73e2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ef0138b24414ffa4","type":"ui-page","name":"Strength Tracking","ui":"36166cdf54286014","path":"/page2","icon":"home","layout":"grid","theme":"8f91d3c43d41b585","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":true,"disabled":false},{"id":"56db59e45a3b0c04","type":"ui-page","name":"Blood Oxygen Tracking","ui":"36166cdf54286014","path":"/page3","icon":"home","layout":"grid","theme":"8f91d3c43d41b585","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":3,"className":"","visible":"true","disabled":"false"},{"id":"431675253c661989","type":"ui-group","name":"Sp02 Controls","page":"56db59e45a3b0c04","width":"6","height":1,"order":2,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"848d0abaf8b84005","type":"ui-group","name":"Grip Controls ","page":"ef0138b24414ffa4","width":6,"height":1,"order":6,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"119de122d9b16a2c","type":"ui-group","name":"MG","page":"38e753d080b99624","width":"12","height":1,"order":2,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"caa46b8eef058cdb","type":"ui-group","name":"IndexG","page":"38e753d080b99624","width":"12","height":1,"order":1,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"d813fb2e16856f4f","type":"ui-group","name":"RG","page":"38e753d080b99624","width":"12","height":1,"order":5,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"6e43e81b12d84a7b","type":"ui-group","name":"PG","page":"38e753d080b99624","width":"12","height":1,"order":3,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"b4c5d100ed4bff14","type":"ui-group","name":"TG","page":"38e753d080b99624","width":"12","height":1,"order":4,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"81b02f13e24b12b9","type":"ui-group","name":"ROM Controls","page":"38e753d080b99624","width":"6","height":1,"order":6,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"7edd138365bae11a","type":"ui-group","name":"Dropdown Group","page":"38e753d080b99624","width":"6","height":1,"order":7,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"4b36ad713a951d74","type":"mqtt-broker","name":"","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4137e7ea168bee44","type":"ui-group","name":"dropdown group","page":"ef0138b24414ffa4","width":6,"height":1,"order":7,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"6013bfd0f38ea96a","type":"ui-group","name":"Dropdown group","page":"56db59e45a3b0c04","width":6,"height":1,"order":3,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"0be00a3ee7b9040b","type":"ui-group","name":"Index","page":"ef0138b24414ffa4","width":"12","height":1,"order":1,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"b1899d49d415bfb1","type":"ui-group","name":"Middle","page":"ef0138b24414ffa4","width":"12","height":1,"order":2,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"e173ac2b9262bded","type":"ui-group","name":"Ring","page":"ef0138b24414ffa4","width":"12","height":1,"order":3,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"87e4b8900d07f8c7","type":"ui-group","name":"Pinky","page":"ef0138b24414ffa4","width":"12","height":1,"order":4,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"3dd4d6233405704b","type":"ui-group","name":"Thumb","page":"ef0138b24414ffa4","width":"12","height":1,"order":5,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"dc66ba9d92b3ab4f","type":"ui-group","name":"spo2 graph","page":"56db59e45a3b0c04","width":"12","height":1,"order":1,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"d5b863cac93b20e0","type":"debug","z":"bfa476dc45577712","name":"debug 17","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":800,"wires":[]},{"id":"604bfc38f2ce375d","type":"debug","z":"bfa476dc45577712","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":600,"wires":[]},{"id":"ae39dc0fafad28a5","type":"function","z":"bfa476dc45577712","name":"Linear Regression","func":"const finger = flow.get('selectedfinger') || 'POINTER'\nconst points = msg.payload || [];\nnode.warn(\"Regression recieved\" + JSON.stringify(msg.payload));\n\n\n//bail case for lack of data\nif (points.length < 2) {\n    node.warn(\"Not enough data for tracking\");\n    msg.payload = 'Not Enough data points';\n    return msg;\n}\nnode.warn(\"point length:\" + points.length);\nconst n = points.length;\n//sums for regression\nlet sumx = 0, sumy = 0, sumxy = 0, sumxx = 0;\nfor (let p of points) {\n    const x = p.x;\n    const y = p.y;\n    sumx += x;\n    sumy += y;\n    sumxy += x * y;\n    sumxx += x * x;\n\n}\n//denominator \nconst den = (n * sumxx - sumx * sumx);\nif (den === 0) {\n    msg.payload = \"failed regression\";\n    return msg;\n\n} //slope\nconst m = (n * sumxy - sumx * sumy) / den;\n//Intercept\nconst b = (sumy - m * sumx) / n;\n//R^2\nlet totSS = 0, resSS = 0;\nconst Ymean = sumy / n;\n\nfor (let p of points) {\n    const y = p.y;\n    const ydict = m * p.x + b;\n    totSS += (y - Ymean) * (y - Ymean);\n    resSS += (y - ydict) * (y - ydict);\n\n}\nlet r2 = 0;\nr2 = 1 - (resSS / totSS);\n\nlet verdict = \"No clear trend\";\n\nconst slopethresh = 0.05;\nconst r2thres = 0.4;\n\nif (Math.abs(m) < slopethresh || r2 < r2thres) {\n    verdict = \"No clear trend\";\n\n}\nelse if (m > 0) {\n    verdict = \" Good Progress\"\n\n}\nelse {\n    verdict = \"Decreasing Progress\";\n\n}\n\nconst sort = [...points].sort((a, b) => a.x - b.x);\n\nconst xmin = sort[0].x;\nconst xmax= sort[sort.length-1].x;\n\nconst sTime = flow.get('Tstart_global'+finger);\nconst linepoints = [{x: xmin, y: m*xmin + b}, {x:xmax, y:m*xmax+b}];\n\n\nconst msginfo = {\n    payload: {\n        slope: m.toFixed(4),\n        intercept: b.toFixed(4),\n        r2: r2.toFixed(4),\n        count: n,\n        verdict: verdict\n    }\n};\n\nconst msgline1 ={\n    topic: \"Trend\", \n    payload: sort.map(p =>  \n    {return{\n        x:p.x, \n        y: m*p.x + b}; \n        })      \n\n    };\n\n\nreturn [msginfo, msgline1];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":540,"wires":[["adc1213d9d6663e7"],["04e949f44891960f","d5b863cac93b20e0","5aa16b135ca2f9dd"]]},{"id":"b050d7e23f2c91a9","type":"function","z":"bfa476dc45577712","name":"Stop button Function","func":"const finger = flow.get('selectedfinger') || 'Index';\n\nmsg.topic =finger\nflow.set('recording_'+finger, false);\nconst samples = flow.get('samples_'+finger);\n\n\nlet out1 = null;\nlet out2 = {topic: finger, payload: samples};\n\n\n\nreturn [out1, out2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":520,"wires":[["08e8b5a5d26ebea8","96fcddcaf362d440"],["ae39dc0fafad28a5","604bfc38f2ce375d"]]},{"id":"f91a803296d1ebd3","type":"ui-button","z":"bfa476dc45577712","group":"431675253c661989","name":"Stop_Index","label":"Stop Session","order":3,"width":"0","height":"0","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"'#FF0000'","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":70,"y":520,"wires":[["b050d7e23f2c91a9","4e91d23e2c07dae2"]]},{"id":"08e8b5a5d26ebea8","type":"debug","z":"bfa476dc45577712","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":420,"wires":[]},{"id":"adc1213d9d6663e7","type":"ui-template","z":"bfa476dc45577712","d":true,"group":"","page":"","ui":"36166cdf54286014","name":"","order":2,"width":0,"height":0,"head":"","format":"<template>\n  <div style=\"position: fixed; top:64px; right:550px; padding:8px; background:rgba(0,0,0,.45); color:#0ff; border-radius:6px; width:200px;\">\n    <h2>Progress</h2>\n\n    <p> Slope:{{msg.payload.slope }} <p>\n    <p> Intercept:{{msg.payload.intercept }}<p>\n    <p> R^2:{{msg.payload.r2}}<p>\n    <p> Verdict:{{msg.payload.verdict }}<p>\n  </div>\n</template>\n\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":1000,"y":480,"wires":[[]]},{"id":"68eb670eded2ba53","type":"function","z":"bfa476dc45577712","name":"Data Storage and transfer ","func":"let data = msg.payload;\n\nif(typeof data=== \"string\"){\n    try{\n        data =JSON.parse(data);\n    } catch(e){\n        return null;\n    }\n}\n\nlet spo2 =data.spo2;\n\n\nspo2 =Number(spo2);\n\n\nif(isNaN(spo2)) return null;\nspo2=Math.max(0,Math.min(100,spo2));\n\nmsg.payload=spo2;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[["96fcddcaf362d440","ce3dfd1e34c30e25"]]},{"id":"ce3dfd1e34c30e25","type":"debug","z":"bfa476dc45577712","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":500,"wires":[]},{"id":"04e949f44891960f","type":"debug","z":"bfa476dc45577712","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1770,"y":560,"wires":[]},{"id":"0ad81470719b24c4","type":"function","z":"bfa476dc45577712","name":"Save Button Function","func":"const finger = flow.get('selectedfinger') || 'Index';\n\nconst samples = flow.get('samples_'+finger) || [];\nconst sampleCopy = [...samples];\n\nif (sampleCopy.length === 0){\n    node.warn('No data to store');\n    return null;\n\n\n}\n\nconst headers = Object.keys(samples[0]).join(',');\nconst rows = samples.map(row => Object.values(row).join(','));\nconst csv = [headers, ...rows].join('\\n');\n\nconst Tstamp = new Date().toDateString().replace(/[:.]/g, '-');\nconst filename = `session_${Tstamp}.csv`;\n\nmsg.payload = csv;\nmsg.filename = `/home/vboxuser/Documents/${filename}`;\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":700,"wires":[["b37a80e7020b3452"]]},{"id":"be682c9af29acabc","type":"ui-button","z":"bfa476dc45577712","group":"431675253c661989","name":"SaveSession_Index","label":"Save Session","order":4,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":110,"y":700,"wires":[["0ad81470719b24c4"]]},{"id":"b37a80e7020b3452","type":"file","z":"bfa476dc45577712","name":"write file","filename":"/home/vboxuser/Documents/csv","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":690,"y":700,"wires":[[]]},{"id":"5aa16b135ca2f9dd","type":"split","z":"bfa476dc45577712","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":940,"y":660,"wires":[["739780d939ce67c0","96fcddcaf362d440"]]},{"id":"739780d939ce67c0","type":"debug","z":"bfa476dc45577712","name":"debug 22","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1240,"y":700,"wires":[]},{"id":"96fcddcaf362d440","type":"link out","z":"bfa476dc45577712","name":"link out 3","mode":"link","links":["98b1ee5cd9e0673e","a9861c746763417b"],"x":1635,"y":340,"wires":[]},{"id":"b9dc36fb5cd27e92","type":"debug","z":"bfa476dc45577712","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":20,"wires":[]},{"id":"7a44d81d8b884a3d","type":"mqtt out","z":"bfa476dc45577712","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":320,"y":380,"wires":[]},{"id":"4e91d23e2c07dae2","type":"function","z":"bfa476dc45577712","name":"Stop button Function MQTT","func":"msg.topic =\"system/command\";\nmsg.payload = 6;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":460,"wires":[["7a44d81d8b884a3d"]]},{"id":"f8e233b1e41614ee","type":"ui-button","z":"bfa476dc45577712","group":"431675253c661989","name":"CALIBRATION","label":"Calibration","order":1,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":110,"y":1000,"wires":[["85cec1a413e8af42"]]},{"id":"85cec1a413e8af42","type":"function","z":"bfa476dc45577712","name":"Calibration code send -> ESP","func":"\n\nconst uimsg ={\n    payload: \"CALIBRATING....\"\n};\n\nconst sendmsg ={\n    topic: \"system/calibration_status\",\n    payload:7\n\n};\n\nconst sendB ={\n    topic:\"system/commands\",\n    payload:4\n};\n\nreturn [uimsg, sendmsg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1000,"wires":[["3a94823ac31c61ea"],["0ac09d0387670b03"]]},{"id":"3a94823ac31c61ea","type":"mqtt out","z":"bfa476dc45577712","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":640,"y":1000,"wires":[]},{"id":"9c0e256b67d98113","type":"mqtt in","z":"bfa476dc45577712","name":"","topic":"system/calibration_status","qos":"2","datatype":"auto-detect","broker":"4b36ad713a951d74","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":1080,"wires":[["08838d402f784a61"]]},{"id":"08838d402f784a61","type":"function","z":"bfa476dc45577712","name":"Recieve Cal.  ESP-> pi","func":" const status = Number(msg.payload);\n\n// default\nlet progress = 0;\nlet text = \"Unknown\";\n\nif (status === 7) {\n    progress = 10;\n    text = \"Starting calibration...\";\n}\n\nif (status === 8) {\n    progress = 50;\n    text = \"Calibrating...\";\n}\n\nif (status === 9) {\n    progress = 100;\n    text = \"Calibration Complete ✅\";\n    flow.set(\"isCalibrated\", true);\n}\n\n// send to gauge\nconst gaugeMsg = {\n    payload: progress\n};\n\n// send to text label\nconst textMsg = {\n    payload: text\n};\n\nreturn [gaugeMsg, textMsg];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1160,"wires":[["0ac09d0387670b03"],["83301b5a3d9f1627"]]},{"id":"0ac09d0387670b03","type":"ui-text","z":"bfa476dc45577712","group":"6013bfd0f38ea96a","order":2,"width":0,"height":0,"name":"","label":"Calibration:","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","value":"payloads","valueType":"msg","x":580,"y":1100,"wires":[]},{"id":"83301b5a3d9f1627","type":"ui-gauge","z":"bfa476dc45577712","name":"status","group":"6013bfd0f38ea96a","order":1,"value":"payload","valueType":"msg","width":"2","height":"2","gtype":"gauge-tile","gstyle":"needle","title":"gauge","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ffc800","text":"","textType":"label"},{"from":"1","color":"#4bd9ec","text":"","textType":"label"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":580,"y":1160,"wires":[[]]},{"id":"418fa377673a9078","type":"debug","z":"bfa476dc45577712","g":"1af705cf7da28429","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":220,"wires":[]},{"id":"a6cef93199af6bd8","type":"mqtt out","z":"bfa476dc45577712","g":"1af705cf7da28429","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":550,"y":300,"wires":[]},{"id":"d7adacf5c87a8a68","type":"function","z":"bfa476dc45577712","g":"1af705cf7da28429","name":"STart button func","func":"const finger = flow.get('selectedfinger') || 'POINTER';\nnode.send({topic: msg.topic, payload: []});\nnode.send({topic:\"Trend\", payload: []});// clear graph\n\nflow.set('recording_'+ finger,  true); //Init\nflow.set('samples_'+finger,[]);\nflow.set('Tstart_global'+finger, Date.now());\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":240,"wires":[["96fcddcaf362d440","418fa377673a9078"]]},{"id":"98ef52dcde2db97f","type":"ui-button","z":"bfa476dc45577712","g":"1af705cf7da28429","group":"431675253c661989","name":"Start_Index","label":"Start session ","order":2,"width":"0","height":"0","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":100,"y":240,"wires":[["d7adacf5c87a8a68","11510cc9eb3b66b0"]]},{"id":"11510cc9eb3b66b0","type":"function","z":"bfa476dc45577712","g":"1af705cf7da28429","name":"STart button MQTT","func":"const finger = flow.get('selectedfinger') || 'POINTER';\nnode.send({topic: msg.topic, payload: []});\nnode.send({topic:\"Trend\", payload: []});// clear graph\n\nflow.set('recording_'+ finger,  true); //Init\nflow.set('samples_'+finger,[]);\nflow.set('Tstart_global'+finger, Date.now());\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":280,"wires":[["a6cef93199af6bd8"]]},{"id":"df410ec7961c9c38","type":"mqtt in","z":"bfa476dc45577712","name":"","topic":"spo2_wrist","qos":"2","datatype":"auto-detect","broker":"4b36ad713a951d74","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":80,"wires":[["68eb670eded2ba53","7ff3e3455aa0f84b"]]},{"id":"7ff3e3455aa0f84b","type":"debug","z":"bfa476dc45577712","name":"debug 39","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":60,"wires":[]},{"id":"a2268e1066ec83fc","type":"debug","z":"d1812f6977441004","name":"debug 12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":800,"wires":[]},{"id":"b0d955cd0bc78f79","type":"debug","z":"d1812f6977441004","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":600,"wires":[]},{"id":"6a38bee4d152b1d5","type":"function","z":"d1812f6977441004","name":"Linear Regression","func":"const finger = flow.get('selectedfinger') || 'POINTER'\nconst points = msg.payload || [];\nnode.warn(\"Regression recieved\" + JSON.stringify(msg.payload));\n\n\n//bail case for lack of data\nif (points.length < 2) {\n    node.warn(\"Not enough data for tracking\");\n    msg.payload = 'Not Enough data points';\n    return msg;\n}\nnode.warn(\"point length:\" + points.length);\nconst n = points.length;\n//sums for regression\nlet sumx = 0, sumy = 0, sumxy = 0, sumxx = 0;\nfor (let p of points) {\n    const x = p.x;\n    const y = p.y;\n    sumx += x;\n    sumy += y;\n    sumxy += x * y;\n    sumxx += x * x;\n\n}\n//denominator \nconst den = (n * sumxx - sumx * sumx);\nif (den === 0) {\n    msg.payload = \"failed regression\";\n    return msg;\n\n} //slope\nconst m = (n * sumxy - sumx * sumy) / den;\n//Intercept\nconst b = (sumy - m * sumx) / n;\n//R^2\nlet totSS = 0, resSS = 0;\nconst Ymean = sumy / n;\n\nfor (let p of points) {\n    const y = p.y;\n    const ydict = m * p.x + b;\n    totSS += (y - Ymean) * (y - Ymean);\n    resSS += (y - ydict) * (y - ydict);\n\n}\nlet r2 = 0;\nr2 = 1 - (resSS / totSS);\n\nlet verdict = \"No clear trend\";\n\nconst slopethresh = 0.05;\nconst r2thres = 0.4;\n\nif (Math.abs(m) < slopethresh || r2 < r2thres) {\n    verdict = \"No clear trend\";\n\n}\nelse if (m > 0) {\n    verdict = \" Good Progress\"\n\n}\nelse {\n    verdict = \"Decreasing Progress\";\n\n}\n\nconst sort = [...points].sort((a, b) => a.x - b.x);\n\nconst xmin = sort[0].x;\nconst xmax= sort[sort.length-1].x;\n\nconst sTime = flow.get('Tstart_global'+finger);\nconst linepoints = [{x: xmin, y: m*xmin + b}, {x:xmax, y:m*xmax+b}];\n\n\nconst msginfo = {\n    payload: {\n        slope: m.toFixed(4),\n        intercept: b.toFixed(4),\n        r2: r2.toFixed(4),\n        count: n,\n        verdict: verdict\n    }\n};\n\nconst msgline1 ={\n    topic: \"Trend\", \n    payload: sort.map(p =>  \n    {return{\n        x:p.x, \n        y: m*p.x + b}; \n        })      \n\n    };\n\n\nreturn [msginfo, msgline1];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":540,"wires":[["21c3ace3e8dc5891"],["d7bbe54f8a41fd17","a2268e1066ec83fc","24bbbd1602338813"]]},{"id":"1642a8455289f7c5","type":"function","z":"d1812f6977441004","g":"e0c4a407c0d28291","name":"STart button func","func":"const finger = flow.get('selectedfinger') || 'POINTER';\nnode.send({topic: msg.topic, payload: []});\nnode.send({topic:\"Trend\", payload: []});// clear graph\n\nflow.set('recording_'+ finger,  true); //Init\nflow.set('samples_'+finger,[]);\nflow.set('Tstart_global_'+finger, Date.now());\n\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":240,"wires":[["d194b6e73168b533","2088b580ddad0b05"]]},{"id":"0be6d5ef60814b9d","type":"ui-button","z":"d1812f6977441004","g":"e0c4a407c0d28291","group":"81b02f13e24b12b9","name":"Start_Index","label":"Start session ","order":2,"width":"0","height":"0","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":110,"y":240,"wires":[["1642a8455289f7c5","30d88dc2f8017ac7"]]},{"id":"4478f76f5c85e519","type":"function","z":"d1812f6977441004","name":"Stop button Function","func":"const finger = flow.get('selectedfinger') || 'Index';\n\nmsg.topic =finger\nflow.set('recording_'+finger, false);\nconst samples = flow.get('samples_'+finger);\n\n\nlet out1 = null;\nlet out2 = {topic: finger, payload: samples};\n\n\n\nreturn [out1, out2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":520,"wires":[["31afc75e1caf9170","d194b6e73168b533"],["6a38bee4d152b1d5","b0d955cd0bc78f79"]]},{"id":"69b2b0bda7ab8f6a","type":"ui-button","z":"d1812f6977441004","group":"81b02f13e24b12b9","name":"Stop_Index","label":"Stop Session","order":3,"width":"0","height":"0","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"'#FF0000'","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":80,"y":520,"wires":[["4478f76f5c85e519","06ed04643d3877e1"]]},{"id":"31afc75e1caf9170","type":"debug","z":"d1812f6977441004","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"21c3ace3e8dc5891","type":"ui-template","z":"d1812f6977441004","group":"","page":"","ui":"36166cdf54286014","name":"","order":2,"width":0,"height":0,"head":"","format":"<template>\n  <div style=\"position: fixed; top:64px; right:150px; padding:8px; background:rgba(0,0,0,.45); color:#0ff; border-radius:6px; width:200px;\">\n    <h2>Progress</h2>\n\n    <p> Slope:{{msg.payload.slope }} <p>\n    <p> Intercept:{{msg.payload.intercept }}<p>\n    <p> R^2:{{msg.payload.r2}}<p>\n    <p> Verdict:{{msg.payload.verdict }}<p>\n  </div>\n</template>\n\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":1010,"y":480,"wires":[[]]},{"id":"d1746b8b91501325","type":"function","z":"d1812f6977441004","name":"Data Storage and transfer ","func":"const parts = msg.topic.split(\"/\");\nconst type = parts[0];        // \"joint\" or \"imu\"\nconst data = parts[1];\n\nlet finger, label;\n                   \n// determine source\nif (type === \"joint\") {\n    [finger, label] = data.split(\"_\");   // POINTER, MCP\n}\nelse if (type === \"abduction\") {\n    finger = data;\n    label = \"ABD\";   // name for IMU line\n}\nelse {\n    return null;\n}\n\n// filter by selected finger\nconst selected = flow.get('selectedfinger') || \"POINTER\";\nif (finger !== selected) return null;\n\n// convert value\nconst val = Number(msg.payload);\nif (isNaN(val)) return null;\n\n// time handling (linear seconds)\nlet timer = flow.get('Tstart_global'+ finger);\nif (!timer) {\n    timer = Date.now();\n    flow.set('Tstart_global', timer);\n}\n\nconst t = (Date.now() - timer) / 1000;\n\nif( flow.get('recording_'+finger)){\n    let samples = flow.get('samples' + finger ) || [];\n\n    samples.push({\n        x:t,y:val\n    })\n    flow.set('samples' + finger, samples);\n}\n\n// send to chart\nmsg.topic = label;   // MCP, PIP, DIP, ABD\nmsg.payload = {\n    x: t,\n    y: val\n};\n\nreturn msg\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["d194b6e73168b533","7dcaf942abcf9cf4"]]},{"id":"7dcaf942abcf9cf4","type":"debug","z":"d1812f6977441004","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":500,"wires":[]},{"id":"d7bbe54f8a41fd17","type":"debug","z":"d1812f6977441004","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1780,"y":560,"wires":[]},{"id":"f7fe840d94250ddb","type":"function","z":"d1812f6977441004","name":"Save Button Function","func":"const finger = flow.get('selectedfinger') || 'Index';\n\nconst samples = flow.get('samples_'+finger) || [];\nconst sampleCopy = [...samples];\n\nif (sampleCopy.length === 0){\n    node.warn('No data to store');\n    return null;\n\n\n}\n\nconst headers = Object.keys(samples[0]).join(',');\nconst rows = samples.map(row => Object.values(row).join(','));\nconst csv = [headers, ...rows].join('\\n');\n\nconst Tstamp = new Date().toDateString().replace(/[:.]/g, '-');\nconst filename = `session_${Tstamp}.csv`;\n\nmsg.payload = csv;\nmsg.filename = `/home/igh/Documents/${filename}`;\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":700,"wires":[["3cac732db55f2ed9"]]},{"id":"3664cef4252bd3a1","type":"ui-button","z":"d1812f6977441004","group":"81b02f13e24b12b9","name":"SaveSession_Index","label":"Save Session","order":4,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":120,"y":700,"wires":[["f7fe840d94250ddb"]]},{"id":"3cac732db55f2ed9","type":"file","z":"d1812f6977441004","name":"write file","filename":"/home/vboxuser/Documents/csv","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":700,"y":700,"wires":[[]]},{"id":"24bbbd1602338813","type":"split","z":"d1812f6977441004","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":950,"y":660,"wires":[["f2be50e3a2d5476a","d194b6e73168b533"]]},{"id":"f2be50e3a2d5476a","type":"debug","z":"d1812f6977441004","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":700,"wires":[]},{"id":"b2caf3c6f048bb81","type":"ui-control","z":"d1812f6977441004","name":"","ui":"36166cdf54286014","events":"all","x":540,"y":840,"wires":[[]]},{"id":"6350c09a1079521c","type":"debug","z":"d1812f6977441004","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":760,"wires":[]},{"id":"257aec5becfd7498","type":"debug","z":"d1812f6977441004","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":260,"y":800,"wires":[]},{"id":"273cc33954fda72f","type":"function","z":"d1812f6977441004","name":"function 6","func":"const finger = msg.payload;\n\n// store for graph filtering\nflow.set('selectedfinger', finger);\n\n// ---------- UI CONTROL (groups) ----------\nconst groupMap = {\n    POINTER: \"IndexG\",\n    MIDDLE: \"MG\",\n    RING: \"RG\",\n    PINKY: \"PG\",\n    THUMB: \"TG\"\n};\n\nconst allGroups = [\"IndexG\", \"MG\", \"RG\", \"PG\", \"TG\"];\n\nconst showGroup = groupMap[finger];\nconst hideGroups = allGroups.filter(g => g !== showGroup);\n\nconst uiMsg = {\n    payload: {\n        groups: {\n            show: [showGroup],\n            hide: hideGroups\n        }\n    }\n};\n\n// ---------- MQTT COMMAND ----------\nconst COMMANDS = {\n    POINTER: 3,\n    MIDDLE: 10,\n    RING: 11,\n    PINKY: 12,\n    THUMB: 13\n};\n\nconst cmd = COMMANDS[finger];\n\nconst cmdMsg = {\n  topic: \"glove/command\",\n  payload: cmd\n};\n\n// ---------- RETURN BOTH ----------\nreturn [uiMsg, cmdMsg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":900,"wires":[["b2caf3c6f048bb81","6350c09a1079521c"],["77ee31005dbb13a0"]]},{"id":"d1406d32eda4c491","type":"ui-dropdown","z":"d1812f6977441004","group":"7edd138365bae11a","name":"","label":"Select Option:","tooltip":"","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"chips":false,"clearable":false,"options":[{"label":"Index","value":"POINTER","type":"str"},{"label":"Middle","value":"MIDDLE","type":"str"},{"label":"Ring","value":"RING","type":"str"},{"label":"Pinky","value":"PINKY","type":"str"},{"label":"Thumb","value":"THUMB","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","typeIsComboBox":true,"msgTrigger":"onChange","x":90,"y":900,"wires":[["273cc33954fda72f","257aec5becfd7498"]]},{"id":"d194b6e73168b533","type":"link out","z":"d1812f6977441004","name":"link out 1","mode":"link","links":["58bfe4a572b96454","837339fb526579d0","98b1ee5cd9e0673e","e340faae93e5040e","eb5e7442c91e1f0e"],"x":1645,"y":340,"wires":[]},{"id":"df96ad5ee5c13f82","type":"mqtt in","z":"d1812f6977441004","name":"","topic":"joint/#","qos":"0","datatype":"auto-detect","broker":"4b36ad713a951d74","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":100,"wires":[["d1746b8b91501325","ad6e6691324aba87"]]},{"id":"ad6e6691324aba87","type":"debug","z":"d1812f6977441004","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":20,"wires":[]},{"id":"2088b580ddad0b05","type":"debug","z":"d1812f6977441004","g":"e0c4a407c0d28291","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":220,"wires":[]},{"id":"749a61a2d5d54f03","type":"mqtt out","z":"d1812f6977441004","g":"e0c4a407c0d28291","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":560,"y":300,"wires":[]},{"id":"6fcea763d765ff6c","type":"mqtt out","z":"d1812f6977441004","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":330,"y":380,"wires":[]},{"id":"30d88dc2f8017ac7","type":"function","z":"d1812f6977441004","g":"e0c4a407c0d28291","name":"STart button MQTT","func":"msg.topic= \"system/command\";\nmsg.payload = 5;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":280,"wires":[["749a61a2d5d54f03","2044cb900bca59eb"]]},{"id":"06ed04643d3877e1","type":"function","z":"d1812f6977441004","name":"Stop button Function MQTT","func":"msg.topic =\"system/command\";\nmsg.payload = 6;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":460,"wires":[["6fcea763d765ff6c"]]},{"id":"f58c8467f22ffe7b","type":"ui-button","z":"d1812f6977441004","group":"81b02f13e24b12b9","name":"CALIBRATION","label":"Calibration","order":1,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":120,"y":1000,"wires":[["0e36d6441fb6651c"]]},{"id":"0e36d6441fb6651c","type":"function","z":"d1812f6977441004","name":"Calibration code send -> ESP","func":"\n\nconst uimsg ={\n    payload: 8\n};\n\nconst sendmsg ={\n    topic:\"system/command\",\n    payload:7\n};\n\nreturn [sendmsg, uimsg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1000,"wires":[["e0576da88586af13"],["7441d574a5917b07"]]},{"id":"e0576da88586af13","type":"mqtt out","z":"d1812f6977441004","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":650,"y":1000,"wires":[]},{"id":"2006c7e01b7ed728","type":"mqtt in","z":"d1812f6977441004","name":"","topic":"system/calibration_status","qos":"2","datatype":"auto-detect","broker":"4b36ad713a951d74","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":1080,"wires":[["46f7383e70d645b7"]]},{"id":"46f7383e70d645b7","type":"function","z":"d1812f6977441004","name":"Recieve Cal.  ESP-> pi","func":"const status = Number(msg.payload);\n\n\n// default\nlet progress = 0;\nlet text = \"Unknown\";\n\nif (status === 8) {\n    progress = 0;\n    text = \"Starting calibration...\";\n}\n\nif (status === 9) {\n    progress = 100;\n    text = \"Calibration complete\";\n    flow.set(\"isCalibrated\", true);\n}\n// send to gauge\n const gaugeMsg = {\n    payload: progress\n};\n\n// send to text label\nconst textMsg = {\n    payload: text\n};\n\nreturn [gaugeMsg, textMsg];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1160,"wires":[["7441d574a5917b07"],["349a48601729c4b1","30faf3e5d72c8064"]]},{"id":"349a48601729c4b1","type":"ui-text","z":"d1812f6977441004","group":"7edd138365bae11a","order":3,"width":0,"height":0,"name":"","label":"Calibration:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":16,"color":"#06e6ea","wrapText":false,"className":"","value":"payload","valueType":"msg","x":750,"y":1240,"wires":[]},{"id":"7441d574a5917b07","type":"ui-gauge","z":"d1812f6977441004","name":"status","group":"7edd138365bae11a","order":2,"value":"payload","valueType":"msg","width":"2","height":"2","gtype":"gauge-tile","gstyle":"needle","title":"gauge","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ffc800","text":"","textType":"label"},{"from":"20","color":"#4bd9ec","text":"","textType":"label"},{"from":"100","color":"#15c908","text":"","textType":"label"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":650,"y":1120,"wires":[[]]},{"id":"77ee31005dbb13a0","type":"mqtt out","z":"d1812f6977441004","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":510,"y":900,"wires":[]},{"id":"dd21ddc134d83c54","type":"mqtt in","z":"d1812f6977441004","name":"","topic":"abduction/#","qos":"0","datatype":"auto-detect","broker":"4b36ad713a951d74","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":160,"wires":[["d1746b8b91501325"]]},{"id":"30faf3e5d72c8064","type":"debug","z":"d1812f6977441004","name":"debug 23","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1260,"wires":[]},{"id":"2044cb900bca59eb","type":"debug","z":"d1812f6977441004","g":"e0c4a407c0d28291","name":"debug 24","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":360,"wires":[]},{"id":"8ae2f115c6b4c1d2","type":"debug","z":"06d68578bb544e93","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":800,"wires":[]},{"id":"19a08e694f4ed1d3","type":"debug","z":"06d68578bb544e93","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":600,"wires":[]},{"id":"0775ac393f1444de","type":"function","z":"06d68578bb544e93","name":"Linear Regression","func":"const finger = flow.get('selectedfinger') || 'POINTER'\nconst points = msg.payload || [];\nnode.warn(\"Regression recieved\" + JSON.stringify(msg.payload));\n\n\n//bail case for lack of data\nif (points.length < 2) {\n    node.warn(\"Not enough data for tracking\");\n    msg.payload = 'Not Enough data points';\n    return msg;\n}\nnode.warn(\"point length:\" + points.length);\nconst n = points.length;\n//sums for regression\nlet sumx = 0, sumy = 0, sumxy = 0, sumxx = 0;\nfor (let p of points) {\n    const x = p.x;\n    const y = p.y;\n    sumx += x;\n    sumy += y;\n    sumxy += x * y;\n    sumxx += x * x;\n\n}\n//denominator \nconst den = (n * sumxx - sumx * sumx);\nif (den === 0) {\n    msg.payload = \"failed regression\";\n    return msg;\n\n} //slope\nconst m = (n * sumxy - sumx * sumy) / den;\n//Intercept\nconst b = (sumy - m * sumx) / n;\n//R^2\nlet totSS = 0, resSS = 0;\nconst Ymean = sumy / n;\n\nfor (let p of points) {\n    const y = p.y;\n    const ydict = m * p.x + b;\n    totSS += (y - Ymean) * (y - Ymean);\n    resSS += (y - ydict) * (y - ydict);\n\n}\nlet r2 = 0;\nr2 = 1 - (resSS / totSS);\n\nlet verdict = \"No clear trend\";\n\nconst slopethresh = 0.05;\nconst r2thres = 0.4;\n\nif (Math.abs(m) < slopethresh || r2 < r2thres) {\n    verdict = \"No clear trend\";\n\n}\nelse if (m > 0) {\n    verdict = \" Good Progress\"\n\n}\nelse {\n    verdict = \"Decreasing Progress\";\n\n}\n\nconst sort = [...points].sort((a, b) => a.x - b.x);\n\nconst xmin = sort[0].x;\nconst xmax= sort[sort.length-1].x;\n\nconst sTime = flow.get('Tstart_global'+finger);\nconst linepoints = [{x: xmin, y: m*xmin + b}, {x:xmax, y:m*xmax+b}];\n\n\nconst msginfo = {\n    payload: {\n        slope: m.toFixed(4),\n        intercept: b.toFixed(4),\n        r2: r2.toFixed(4),\n        count: n,\n        verdict: verdict\n    }\n};\n\nconst msgline1 ={\n    topic: \"Trend\", \n    payload: sort.map(p =>  \n    {return{\n        x:p.x, \n        y: m*p.x + b}; \n        })      \n\n    };\n\n\nreturn [msginfo, msgline1];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":540,"wires":[["904e474b1ec5ef90"],["f6c4b6b37a08528a","8ae2f115c6b4c1d2","ccddc1b4f2d8bf37"]]},{"id":"3db6ae7bebb87a2a","type":"function","z":"06d68578bb544e93","name":"Stop button Function","func":"const finger = flow.get('selectedfinger') || 'Index';\n\nmsg.topic =finger\nflow.set('recording_'+finger, false);\nconst samples = flow.get('samples_'+finger);\n\n\nlet out1 = null;\nlet out2 = {topic: finger, payload: samples};\n\n\n\nreturn [out1, out2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":520,"wires":[["693dc95d549f8238","495775f273f445f0"],["0775ac393f1444de","19a08e694f4ed1d3"]]},{"id":"db256c82619b7295","type":"ui-button","z":"06d68578bb544e93","group":"848d0abaf8b84005","name":"Stop_Index","label":"Stop Session","order":3,"width":"0","height":"0","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"'#FF0000'","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":230,"y":520,"wires":[["3db6ae7bebb87a2a","0e36256fe6e93cd6"]]},{"id":"693dc95d549f8238","type":"debug","z":"06d68578bb544e93","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":420,"wires":[]},{"id":"904e474b1ec5ef90","type":"ui-template","z":"06d68578bb544e93","d":true,"group":"","page":"","ui":"36166cdf54286014","name":"","order":2,"width":0,"height":0,"head":"","format":"<template>\n  <div style=\"position: fixed; top:64px; right:550px; padding:8px; background:rgba(0,0,0,.45); color:#0ff; border-radius:6px; width:200px;\">\n    <h2>Progress</h2>\n\n    <p> Slope:{{msg.payload.slope }} <p>\n    <p> Intercept:{{msg.payload.intercept }}<p>\n    <p> R^2:{{msg.payload.r2}}<p>\n    <p> Verdict:{{msg.payload.verdict }}<p>\n  </div>\n</template>\n\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":1160,"y":480,"wires":[[]]},{"id":"274d32311ed68801","type":"function","z":"06d68578bb544e93","name":"Data Storage and transfer ","func":"const parts = msg.topic.split(\"/\");\nconst type = parts[0];        // \"joint\" or \"imu\"\nconst data = parts[1];\n\nlet finger, label;\n                   \n// determine source\nif (type === \"joint\") {\n    [finger, label] = data.split(\"_\");   // POINTER, MCP\n}\nelse if (type=== \"force\"){\n        finger = data;\n        label = \"FORCE\";\n}\n\nelse {\n    return null;\n}\n\n// filter by selected finger\nconst selected = flow.get('selectedfinger') || \"POINTER\";\nif (finger !== selected) return null;\n\n// convert value\nconst val = Number(msg.payload);\nif (isNaN(val)) return null;\n\n// time handling (linear seconds)\nlet timer = flow.get('Tstart_global');\nif (!timer) {\n    timer = Date.now();\n    flow.set('Tstart_global', timer);\n}\n\nconst t = (Date.now() - timer) / 1000;\nif( flow.get('recording_'+finger)){\n    let samples = flow.get('samples' + finger ) || [];\n\n    samples.push({\n        x:t,y:val\n    })\n    flow.set('samples' + finger, samples);\n}\n\n// send to chart\nmsg.topic = finger+\"FORCE\";   // MCP, PIP, DIP, ABD\nmsg.payload = {\n    x: t,\n    y: val\n};\n\nreturn msg\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":120,"wires":[["495775f273f445f0","50ee42cc107c619d"]]},{"id":"50ee42cc107c619d","type":"debug","z":"06d68578bb544e93","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":500,"wires":[]},{"id":"f6c4b6b37a08528a","type":"debug","z":"06d68578bb544e93","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1930,"y":560,"wires":[]},{"id":"34342db97b83b806","type":"function","z":"06d68578bb544e93","name":"Save Button Function","func":"const finger = flow.get('selectedfinger') || 'Index';\n\nconst samples = flow.get('samples_'+finger) || [];\nconst sampleCopy = [...samples];\n\nif (sampleCopy.length === 0){\n    node.warn('No data to store');\n    return null;\n\n\n}\n\nconst headers = Object.keys(samples[0]).join(',');\nconst rows = samples.map(row => Object.values(row).join(','));\nconst csv = [headers, ...rows].join('\\n');\n\nconst Tstamp = new Date().toDateString().replace(/[:.]/g, '-');\nconst filename = `session_${Tstamp}.csv`;\n\nmsg.payload = csv;\nmsg.filename = `/home/vboxuser/Documents/${filename}`;\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":700,"wires":[["2ab373aaac3c785c"]]},{"id":"f63775508bbf23bb","type":"ui-button","z":"06d68578bb544e93","group":"848d0abaf8b84005","name":"SaveSession_Index","label":"Save Session","order":4,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":270,"y":700,"wires":[["34342db97b83b806"]]},{"id":"2ab373aaac3c785c","type":"file","z":"06d68578bb544e93","name":"write file","filename":"/home/vboxuser/Documents/csv","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":850,"y":700,"wires":[[]]},{"id":"ccddc1b4f2d8bf37","type":"split","z":"06d68578bb544e93","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":1100,"y":660,"wires":[["30e5b0b09b3cf938","495775f273f445f0"]]},{"id":"30e5b0b09b3cf938","type":"debug","z":"06d68578bb544e93","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1400,"y":700,"wires":[]},{"id":"6aadc8f791e00262","type":"ui-control","z":"06d68578bb544e93","name":"","ui":"36166cdf54286014","events":"all","x":690,"y":840,"wires":[[]]},{"id":"9d68ea6efc03cc12","type":"debug","z":"06d68578bb544e93","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":760,"wires":[]},{"id":"6c80c490a757dfbf","type":"debug","z":"06d68578bb544e93","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":800,"wires":[]},{"id":"ec23d5e4048324dd","type":"function","z":"06d68578bb544e93","name":"function 1","func":"const finger = msg.payload;\n\n// store for graph filtering\nflow.set('selectedfinger', finger);\n\n// ---------- UI CONTROL (groups) ----------\nconst groupMap = {\n   POINTER: \"Index\",\n   MIDDLE: \"Middle\",\n   RING: \"Ring\",\n   PINKY: \"Pinky\",\n   THUMB: \"Thumb\"\n};\n\nconst allGroups = [\"Index\", \"Middle\", \"Ring\", \"Pinky\", \"Thumb\"];\n\nconst showGroup = groupMap[finger];\nconst hideGroups = allGroups.filter(g => g !== showGroup);\n\nconst uiMsg = {\n payload: {\n    groups: {\n     show: [showGroup],\n     hide: hideGroups\n  }\n }\n};\n\n// ---------- MQTT COMMAND ----------\nconst COMMANDS = {\n    POINTER: 16,\n    MIDDLE: 17,\n    RING: 18,\n    PINKY: 19,\n    THUMB: 20\n};\n\nconst cmd = COMMANDS[finger];\n\nconst cmdMsg = {\n  topic: \"system/command\",\n  payload: cmd\n};\n\n// ---------- RETURN BOTH ----------\nreturn [uiMsg, cmdMsg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":900,"wires":[["6aadc8f791e00262","9d68ea6efc03cc12"],["ab9349c6abe883cc"]]},{"id":"9427e3f025598670","type":"ui-dropdown","z":"06d68578bb544e93","group":"4137e7ea168bee44","name":"","label":"Select Option:","tooltip":"","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"chips":false,"clearable":false,"options":[{"label":"Index","value":"POINTER","type":"str"},{"label":"Middle","value":"MIDDLE","type":"str"},{"label":"Ring","value":"RING","type":"str"},{"label":"Pinky","value":"PINKY","type":"str"},{"label":"Thumb","value":"THUMB","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","typeIsComboBox":true,"msgTrigger":"onChange","x":240,"y":900,"wires":[["ec23d5e4048324dd","6c80c490a757dfbf"]]},{"id":"495775f273f445f0","type":"link out","z":"06d68578bb544e93","name":"link out 2","mode":"link","links":["98b1ee5cd9e0673e","e93551176fe3bfa3","358888106691de69","af18e1a79f83639c","bd1e8833e2420734","e91333404e89bacd"],"x":1795,"y":340,"wires":[]},{"id":"81628402dbedcd8b","type":"mqtt in","z":"06d68578bb544e93","name":"","topic":"force/#","qos":"0","datatype":"auto-detect","broker":"4b36ad713a951d74","nl":false,"rap":true,"rh":0,"inputs":0,"x":240,"y":100,"wires":[["274d32311ed68801","5a34086b427b69ed"]]},{"id":"5a34086b427b69ed","type":"debug","z":"06d68578bb544e93","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":20,"wires":[]},{"id":"68c64352923c8f6c","type":"mqtt out","z":"06d68578bb544e93","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":480,"y":380,"wires":[]},{"id":"0e36256fe6e93cd6","type":"function","z":"06d68578bb544e93","name":"Stop button Function MQTT","func":"msg.topic =\"system/command\";\nmsg.payload = 6;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":460,"wires":[["68c64352923c8f6c"]]},{"id":"79f6098cbbf94149","type":"ui-button","z":"06d68578bb544e93","group":"848d0abaf8b84005","name":"CALIBRATION","label":"Calibration","order":1,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":270,"y":1000,"wires":[["10461500951695d7"]]},{"id":"10461500951695d7","type":"function","z":"06d68578bb544e93","name":"Calibration code send -> ESP","func":"\n\nconst uimsg ={\n    payload: \"CALIBRATING....\"\n};\n\nconst sendmsg ={\n    topic: \"system/calibration_status\",\n    payload:7\n\n};\n\nreturn [sendmsg, uimsg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1000,"wires":[["c652d1d7a4bbbdc3"],["5f1ca35288ae56db"]]},{"id":"c652d1d7a4bbbdc3","type":"mqtt out","z":"06d68578bb544e93","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":800,"y":1000,"wires":[]},{"id":"4543a0f4bc0f9ab1","type":"mqtt in","z":"06d68578bb544e93","name":"","topic":"system/calibration_status","qos":"2","datatype":"auto-detect","broker":"4b36ad713a951d74","nl":false,"rap":true,"rh":0,"inputs":0,"x":300,"y":1080,"wires":[["02578128653037bc"]]},{"id":"02578128653037bc","type":"function","z":"06d68578bb544e93","name":"Recieve Cal.  ESP-> pi","func":" const status = Number(msg.payload);\n\n// default\nlet progress = 0;\nlet text = \"Unknown\";\n\nif (status === 7) {\n    progress = 10;\n    text = \"Starting calibration...\";\n}\n\nif (status === 8) {\n    progress = 50;\n    text = \"Calibrating...\";\n}\n\nif (status === 9) {\n    progress = 100;\n    text = \"Calibration Complete ✅\";\n    flow.set(\"isCalibrated\", true);\n}\n\n// send to gauge\nconst gaugeMsg = {\n    payload: progress\n};\n\n// send to text label\nconst textMsg = {\n    payload: text\n};\n\nreturn [gaugeMsg, textMsg];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1160,"wires":[["5f1ca35288ae56db"],["a547f82ba4f00be8"]]},{"id":"a547f82ba4f00be8","type":"ui-text","z":"06d68578bb544e93","group":"4137e7ea168bee44","order":3,"width":0,"height":0,"name":"","label":"Calibration:","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","value":"payloads","valueType":"msg","x":730,"y":1220,"wires":[]},{"id":"5f1ca35288ae56db","type":"ui-gauge","z":"06d68578bb544e93","name":"status","group":"4137e7ea168bee44","order":2,"value":"payload","valueType":"msg","width":"2","height":"2","gtype":"gauge-tile","gstyle":"needle","title":"gauge","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ffc800","text":"","textType":"label"},{"from":"1","color":"#4bd9ec","text":"","textType":"label"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":740,"y":1160,"wires":[[]]},{"id":"ab9349c6abe883cc","type":"mqtt out","z":"06d68578bb544e93","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":660,"y":900,"wires":[]},{"id":"c78a2cce44b082ef","type":"debug","z":"06d68578bb544e93","g":"e50caa73a6bbb57a","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"4173f140e001c24f","type":"mqtt out","z":"06d68578bb544e93","g":"e50caa73a6bbb57a","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4b36ad713a951d74","x":710,"y":300,"wires":[]},{"id":"8a9c2dbb739d3368","type":"function","z":"06d68578bb544e93","g":"e50caa73a6bbb57a","name":"STart button func","func":"const finger = flow.get('selectedfinger') || 'POINTER';\nnode.send({topic: msg.topic, payload: []});\nnode.send({topic:\"Trend\", payload: []});// clear graph\n\nflow.set('recording_'+ finger,  true); //Init\nflow.set('samples_'+finger,[]);\nflow.set('Tstart_global'+finger, Date.now());\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":240,"wires":[["495775f273f445f0","c78a2cce44b082ef"]]},{"id":"7e97b404c254d868","type":"ui-button","z":"06d68578bb544e93","g":"e50caa73a6bbb57a","group":"848d0abaf8b84005","name":"Start_Index","label":"Start session ","order":2,"width":"0","height":"0","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":260,"y":240,"wires":[["8a9c2dbb739d3368","17a09d723f80ec16"]]},{"id":"17a09d723f80ec16","type":"function","z":"06d68578bb544e93","g":"e50caa73a6bbb57a","name":"STart button MQTT","func":"msg.topic =\"system/command\";\nmsg.payload = 5;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":280,"wires":[["4173f140e001c24f"]]},{"id":"1513615ca9d2ca8f","type":"ui-template","z":"d49ff76070188501","group":"","page":"","ui":"36166cdf54286014","name":"Logo","order":1,"width":0,"height":0,"head":"","format":"<template>\n    <!-- Teleport the button to the #app-bar-actions area when mounted -->\n    <Teleport v-if=\"mounted\" to=\"#app-bar-title\">\n        <img height =\"64px\" src= \"https://raw.githubusercontent.com/MEmmODef/images/refs/heads/main/logo%20for%20capstone.png\"></img>\n    </Teleport>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false\n            }\n        },\n        mounted() {\n            // Set mounted to true when the component is mounted\n            this.mounted = true\n        }\n    }\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":150,"y":40,"wires":[[]]},{"id":"e7457e44a9377494","type":"ui-chart","z":"d49ff76070188501","group":"caa46b8eef058cdb","name":"Index","label":"Range of Motion Readings ","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"payload.x","xAxisPropertyType":"msg","xAxisType":"linear","xAxisFormat":"{10}","xAxisFormatType":"custom","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload.y","yAxisPropertyType":"msg","ymin":"0","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"line","pointRadius":"9","showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"60","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#1c71d8"],"textColorDefault":false,"gridColor":["#1c71d8"],"gridColorDefault":false,"width":"12","height":"8","className":"","interpolation":"smooth","x":1350,"y":320,"wires":[["ce01fa420273489c"]]},{"id":"ce01fa420273489c","type":"debug","z":"d49ff76070188501","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1780,"y":140,"wires":[]},{"id":"837339fb526579d0","type":"link in","z":"d49ff76070188501","name":"link in 5","links":["d194b6e73168b533"],"x":905,"y":300,"wires":[["3577a329275fb888","84ad68f7396c7141"]]},{"id":"3577a329275fb888","type":"debug","z":"d49ff76070188501","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":220,"wires":[]},{"id":"84ad68f7396c7141","type":"delay","z":"d49ff76070188501","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1140,"y":320,"wires":[["e7457e44a9377494"]]},{"id":"78aed441e841a760","type":"ui-chart","z":"32909789549a8d0d","group":"119de122d9b16a2c","name":"Middle","label":"Range of Motion Readings ","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"payload.x","xAxisPropertyType":"msg","xAxisType":"linear","xAxisFormat":"{10}","xAxisFormatType":"custom","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload.y","yAxisPropertyType":"msg","ymin":"0","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"line","pointRadius":"9","showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"60","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#1c71d8"],"textColorDefault":false,"gridColor":["#1c71d8"],"gridColorDefault":false,"width":"12","height":"8","className":"","interpolation":"smooth","x":710,"y":120,"wires":[["68118099d9cfab10"]]},{"id":"e340faae93e5040e","type":"link in","z":"32909789549a8d0d","name":"link in 1","links":["d194b6e73168b533"],"x":395,"y":120,"wires":[["065ccd02086660ec","4e1e35fa15b1b276"]]},{"id":"065ccd02086660ec","type":"debug","z":"32909789549a8d0d","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":60,"wires":[]},{"id":"68118099d9cfab10","type":"debug","z":"32909789549a8d0d","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":180,"wires":[]},{"id":"4e1e35fa15b1b276","type":"delay","z":"32909789549a8d0d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":560,"y":120,"wires":[["78aed441e841a760"]]},{"id":"9e7a348d60afe556","type":"ui-chart","z":"8fec8f860b1a2805","group":"d813fb2e16856f4f","name":"Ring","label":"Range of Motion Readings ","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"payload.x","xAxisPropertyType":"msg","xAxisType":"linear","xAxisFormat":"{10}","xAxisFormatType":"custom","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload.y","yAxisPropertyType":"msg","ymin":"0","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"line","pointRadius":"9","showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"60","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#1c71d8"],"textColorDefault":false,"gridColor":["#1c71d8"],"gridColorDefault":false,"width":"12","height":8,"className":"","interpolation":"smooth","x":790,"y":280,"wires":[[]]},{"id":"eb5e7442c91e1f0e","type":"link in","z":"8fec8f860b1a2805","name":"link in 2","links":["d194b6e73168b533"],"x":395,"y":300,"wires":[["b94d661111625739"]]},{"id":"b94d661111625739","type":"delay","z":"8fec8f860b1a2805","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":540,"y":300,"wires":[["9e7a348d60afe556"]]},{"id":"1c8e38c8c4812cd1","type":"ui-chart","z":"de285be21e702916","group":"6e43e81b12d84a7b","name":"Pinky","label":"Range of Motion Readings ","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"payload.x","xAxisPropertyType":"msg","xAxisType":"linear","xAxisFormat":"{10}","xAxisFormatType":"custom","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload.y","yAxisPropertyType":"msg","ymin":"0","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"line","pointRadius":"9","showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"60","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#1c71d8"],"textColorDefault":false,"gridColor":["#1c71d8"],"gridColorDefault":false,"width":"12","height":"8","className":"","interpolation":"smooth","x":710,"y":200,"wires":[[]]},{"id":"58bfe4a572b96454","type":"link in","z":"de285be21e702916","name":"link in 3","links":["d194b6e73168b533"],"x":195,"y":260,"wires":[["bfabe41f0399eaa0"]]},{"id":"bfabe41f0399eaa0","type":"delay","z":"de285be21e702916","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":440,"y":240,"wires":[["1c8e38c8c4812cd1"]]},{"id":"c80ad266c9a5dfc1","type":"ui-chart","z":"ecc2abccbbee318b","group":"b4c5d100ed4bff14","name":"Thumb","label":"Range of Motion Readings ","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"payload.x","xAxisPropertyType":"msg","xAxisType":"linear","xAxisFormat":"{10}","xAxisFormatType":"custom","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload.y","yAxisPropertyType":"msg","ymin":"0","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"line","pointRadius":"9","showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"60","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#1c71d8"],"textColorDefault":false,"gridColor":["#1c71d8"],"gridColorDefault":false,"width":"12","height":8,"className":"","interpolation":"smooth","x":640,"y":240,"wires":[[]]},{"id":"98b1ee5cd9e0673e","type":"link in","z":"ecc2abccbbee318b","name":"link in 4","links":["d194b6e73168b533","495775f273f445f0","96fcddcaf362d440"],"x":225,"y":240,"wires":[["8ca8473830b22f8b"]]},{"id":"8ca8473830b22f8b","type":"delay","z":"ecc2abccbbee318b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":240,"wires":[["c80ad266c9a5dfc1"]]},{"id":"66376a0ebbcbe380","type":"ui-chart","z":"e603eb53dc095cee","group":"0be00a3ee7b9040b","name":"Indexgrip","label":"Grip Strength Readings ","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"payload.x","xAxisPropertyType":"msg","xAxisType":"linear","xAxisFormat":"{10}","xAxisFormatType":"custom","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload.y","yAxisPropertyType":"msg","ymin":"0","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"line","pointRadius":"9","showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"60","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#1c71d8"],"textColorDefault":false,"gridColor":["#1c71d8"],"gridColorDefault":false,"width":"12","height":"8","className":"","interpolation":"smooth","x":1440,"y":480,"wires":[["4573edb877291ecd"]]},{"id":"4573edb877291ecd","type":"debug","z":"e603eb53dc095cee","name":"debug 27","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1860,"y":300,"wires":[]},{"id":"e93551176fe3bfa3","type":"link in","z":"e603eb53dc095cee","name":"link in 6","links":["495775f273f445f0"],"x":985,"y":460,"wires":[["f13e568601cebf7a","4f069468551fcfb9"]]},{"id":"f13e568601cebf7a","type":"debug","z":"e603eb53dc095cee","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":380,"wires":[]},{"id":"4f069468551fcfb9","type":"delay","z":"e603eb53dc095cee","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1220,"y":480,"wires":[["66376a0ebbcbe380"]]},{"id":"9fe18f751c644c53","type":"ui-chart","z":"f0c8b8214cded0e6","group":"b1899d49d415bfb1","name":"middlegrip","label":"Grip Strength Readings ","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"payload.x","xAxisPropertyType":"msg","xAxisType":"linear","xAxisFormat":"{10}","xAxisFormatType":"custom","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload.y","yAxisPropertyType":"msg","ymin":"0","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"line","pointRadius":"9","showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"60","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#1c71d8"],"textColorDefault":false,"gridColor":["#1c71d8"],"gridColorDefault":false,"width":"11","height":"8","className":"","interpolation":"smooth","x":1270,"y":340,"wires":[["72f3c8aed09faf3b"]]},{"id":"72f3c8aed09faf3b","type":"debug","z":"f0c8b8214cded0e6","name":"debug 29","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1680,"y":160,"wires":[]},{"id":"358888106691de69","type":"link in","z":"f0c8b8214cded0e6","name":"link in 7","links":["495775f273f445f0"],"x":805,"y":320,"wires":[["d99f555042534b95","908fdeef3478a4ae"]]},{"id":"d99f555042534b95","type":"debug","z":"f0c8b8214cded0e6","name":"debug 30","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":240,"wires":[]},{"id":"908fdeef3478a4ae","type":"delay","z":"f0c8b8214cded0e6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1040,"y":340,"wires":[["9fe18f751c644c53"]]},{"id":"afba310b9984ed9d","type":"ui-chart","z":"56e6bd8c3694d57e","group":"e173ac2b9262bded","name":"ringgrip","label":"Grip Strength  Readings ","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"payload.x","xAxisPropertyType":"msg","xAxisType":"linear","xAxisFormat":"{10}","xAxisFormatType":"custom","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload.y","yAxisPropertyType":"msg","ymin":"0","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"line","pointRadius":"9","showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"60","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#1c71d8"],"textColorDefault":false,"gridColor":["#1c71d8"],"gridColorDefault":false,"width":"11","height":"8","className":"","interpolation":"smooth","x":1300,"y":340,"wires":[["cc4c1d0e84573167"]]},{"id":"cc4c1d0e84573167","type":"debug","z":"56e6bd8c3694d57e","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1720,"y":160,"wires":[]},{"id":"af18e1a79f83639c","type":"link in","z":"56e6bd8c3694d57e","name":"link in 8","links":["495775f273f445f0"],"x":845,"y":320,"wires":[["0c357b2032c2cf09","8d4300f094602e49"]]},{"id":"0c357b2032c2cf09","type":"debug","z":"56e6bd8c3694d57e","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":240,"wires":[]},{"id":"8d4300f094602e49","type":"delay","z":"56e6bd8c3694d57e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1080,"y":340,"wires":[["afba310b9984ed9d"]]},{"id":"f36c50f92f09d5ae","type":"ui-chart","z":"cbff7827142387a0","group":"87e4b8900d07f8c7","name":"pinkygrip","label":"Grip Strength Readings ","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"payload.x","xAxisPropertyType":"msg","xAxisType":"linear","xAxisFormat":"{10}","xAxisFormatType":"custom","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload.y","yAxisPropertyType":"msg","ymin":"0","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"line","pointRadius":"9","showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"60","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#1c71d8"],"textColorDefault":false,"gridColor":["#1c71d8"],"gridColorDefault":false,"width":"11","height":"8","className":"","interpolation":"smooth","x":1320,"y":360,"wires":[["05059177d99c8590"]]},{"id":"05059177d99c8590","type":"debug","z":"cbff7827142387a0","name":"debug 33","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1740,"y":180,"wires":[]},{"id":"bd1e8833e2420734","type":"link in","z":"cbff7827142387a0","name":"link in 9","links":["495775f273f445f0"],"x":865,"y":340,"wires":[["c72394bcad7e36a0","3c98dcbaeb43c3aa"]]},{"id":"c72394bcad7e36a0","type":"debug","z":"cbff7827142387a0","name":"debug 34","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":260,"wires":[]},{"id":"3c98dcbaeb43c3aa","type":"delay","z":"cbff7827142387a0","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":360,"wires":[["f36c50f92f09d5ae"]]},{"id":"423fd4fc54d1f04a","type":"ui-chart","z":"ab33023ede78790b","group":"3dd4d6233405704b","name":"thumbgrip","label":"Grip Strength Readings ","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"payload.x","xAxisPropertyType":"msg","xAxisType":"linear","xAxisFormat":"{10}","xAxisFormatType":"custom","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload.y","yAxisPropertyType":"msg","ymin":"0","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"line","pointRadius":"9","showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"60","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#1c71d8"],"textColorDefault":false,"gridColor":["#1c71d8"],"gridColorDefault":false,"width":"11","height":"8","className":"","interpolation":"smooth","x":1280,"y":380,"wires":[["ec42d92b1b282462"]]},{"id":"ec42d92b1b282462","type":"debug","z":"ab33023ede78790b","name":"debug 35","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1700,"y":200,"wires":[]},{"id":"e91333404e89bacd","type":"link in","z":"ab33023ede78790b","name":"link in 10","links":["495775f273f445f0"],"x":825,"y":360,"wires":[["37e458087805bccb","a99a36850dd9ea81"]]},{"id":"37e458087805bccb","type":"debug","z":"ab33023ede78790b","name":"debug 36","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":280,"wires":[]},{"id":"a99a36850dd9ea81","type":"delay","z":"ab33023ede78790b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1060,"y":380,"wires":[["423fd4fc54d1f04a"]]},{"id":"87dfc530c8618765","type":"debug","z":"83e63282a2892f63","name":"debug 37","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":100,"wires":[]},{"id":"a9861c746763417b","type":"link in","z":"83e63282a2892f63","name":"link in 11","links":["96fcddcaf362d440"],"x":85,"y":260,"wires":[["fd6ebbe94824c6da","915561c4950aab1d"]]},{"id":"fd6ebbe94824c6da","type":"debug","z":"83e63282a2892f63","name":"debug 38","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":180,"wires":[]},{"id":"915561c4950aab1d","type":"delay","z":"83e63282a2892f63","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":280,"wires":[["24a846022c8ec917"]]},{"id":"24a846022c8ec917","type":"ui-gauge","z":"83e63282a2892f63","name":"","group":"dc66ba9d92b3ab4f","order":1,"value":"payload","valueType":"msg","width":"6","height":"6","gtype":"gauge-half","gstyle":"needle","title":"gauge","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353","text":"","textType":"label"},{"from":"100","color":"#5cd65c","text":"","textType":"label"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":570,"y":300,"wires":[[]]},{"id":"12ba2f0368a654f8","type":"global-config","env":[],"modules":{"@flowfuse/node-red-dashboard":"1.29.0","node-red-dashboard":"3.6.6"}}]
